body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #DDD; }
/* optional Container STYLES */
.chart { border: none; overflow: scroll}
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }

@font-face {
    font-family: 'Symbola';
    src: url('../fonts/Symbola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tech {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    border: 4px outset #000;
    width: 275px;
    height: 66px;
    font-family: Verdana;
    font-size: 12px;
    color: black;
}

.tech div.icon {
    background-color: black;
    border-radius: 4px;
    border: 1px solid gray;
    width: 52px;
    height: 52px;
    float: left;
    margin: 2px 10px 2px 2px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.tech div.icon.dangerous {
    box-shadow: 0 0 2em red;
}

.tech div.icon.rare {
    box-shadow: 0 0 2em #800080;
}

.tech p.node-name {
    height: 20px;
    font-weight: bold;
    max-width: 184px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
}

.tech p.node-desc {
    margin-bottom: 4px;
}

.tech p.description,
.tech p.weight-modifiers,
.tech p.feature-unlocks {
    border: 1px solid gray;
    padding: 3px;
    width: 12px;
    height: 12px;
    font-family: Symbola;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
    position: relative;
    left: 255px;
    top: -53px;
    z-index: 3;
}

div.extra-data {
    width: 0;
}

.tech p.weight-modifiers.disabled,
.tech p.feature-unlocks.disabled {
    border: 1px solid #444;
    cursor: default;
    color: #444;
}

.ui-tooltip {
    font-size: 12px;
    display: block;
    min-width: 256px;
    max-width: 512px;
}

.ui-tooltip img.resource {
    position: relative;
    top: 4px;
}

ui-tooltip ul li {
    list-style-type: disc;
    /* padding-left: 0; */
    /* margin-left: 0; */
}

.ui-tooltip > div > span.weight-modifiers,
.ui-tooltip > div > span.feature-unlocks {
    white-space: pre;
}

.tooltip-header {
    padding: 3px;
    margin: -5px 0 5px -3px;
    width: 100%;
    background-color: #262626;
    color: white;
    font-weight: bold;
    content: "Weight Modifiers";
}

.tech.society { border-color: #5ACA9C }

span.society-research::before {
    background: url("../img/society_research.png") center center no-repeat;
    content:  url("../img/blank11px.png");
    width: 11px;
    height: 11px;
}

.tech.engineering { border-color: #E29C43 }
span.engineering-research::before {
    background: url("../img/engineering_research.png") center center no-repeat;
    content:  url("../img/blank11px.png");
    width: 11px;
    height: 11px;
}

.tech.physics { border-color: #4396E2 }
span.physics-research::before {
    background: url("../img/physics_research.png") center center no-repeat;
    content:  url("../img/blank11px.png");
    width: 11px;
    height: 11px;
}

.tech img {
    margin-right: 10px;
}

.Treant > a:link {
    color: white;
}

.Treant > a:visited {
    color: white;
}

.Treant > a:link:hover {
    color: #636363;
}
